target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Global Notification model ###
src/main/java/delta/codecharacter/server/controller/api/GlobalNotificationController.java
src/main/java/delta/codecharacter/server/controller/request/AddGlobalNotificationRequest.java
src/main/java/delta/codecharacter/server/model/GlobalNotification.java
src/main/java/delta/codecharacter/server/repository/GlobalNotificationRepository.java
src/main/java/delta/codecharacter/server/service/GlobalNotificationService.java