#mongodb
spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.database=codecharacter-2020

#storage
storage.dir=storage
storage.playercode.dir=storage/codes
storage.playercode.default.code=storage/default_code.cpp
storage.playercode.filename=main.cpp
storage.maps.dir=storage/maps
storage.matchlog.dir=storage/logs

#rabbit-mq
spring.rabbitmq.host=localhost
spring.rabbitmq.queue=codechar

#compilebox
compilebox.secret-key=<>

#pragyan-api
pragyan.event-login-url=https://api.pragyan.org/20/event/login
pragyan.event-id=<>
pragyan.event-secret=<>

#mail
sendgrid.api-key=<>
sendgrid.sender=<>

#client
client.request.origin=http://localhost:3000

spring.security.oauth2.client.github.client.client-id=<>
spring.security.oauth2.client.github.client.client-secret=<>
spring.security.oauth2.client.github.client.redirect-uri=http://localhost:8080
spring.security.oauth2.client.github.client.user-authorization-uri=https://github.com/login/oauth/authorize
spring.security.oauth2.client.github.client.access-token-uri=https://github.com/login/oauth/access_token
spring.security.oauth2.client.github.resource.user-info-uri=https://api.github.com/user

spring.security.oauth2.client.google.client.client-id=<>
spring.security.oauth2.client.google.client.client-secret=<>
spring.security.oauth2.client.google.client.scope=email,profile
spring.security.oauth2.client.google.client.redirect-uri=http://localhost:8080
spring.security.oauth2.client.google.client.user-authorization-uri=https://accounts.google.com/o/oauth2/v2/auth
spring.security.oauth2.client.google.client.access-token-uri=https://www.googleapis.com/oauth2/v4/token
spring.security.oauth2.client.google.resource.user-info-uri=https://www.googleapis.com/oauth2/v3/userinfo
